@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/landing.css" />
<div class="text-center container-fluid" id="Hero-Section" style="height:1080px;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a>Returning Power to Independant Authors</a>.</p>
</div>
